# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
#
# @see https://github.com/rolodato/dotenv-safe for more details.
# ------------------------------------------------------------------------------

# Optional (for fathom analytics)
#NEXT_PUBLIC_FATHOM_ID=

# Optional (for PostHog analytics)
#NEXT_PUBLIC_POSTHOG_ID=

# Optional (for rendering tweets more efficiently)
#TWITTER_ACCESS_TOKEN=

# Optional (for persisting preview images to redis)
# NOTE: if you want to enable redis, only REDIS_HOST and REDIS_PASSWORD are required
# NOTE: don't forget to set isRedisEnabled to true in the site.config.ts file
#REDIS_HOST=
#REDIS_PASSWORD=
#REDIS_USER='default'
#REDIS_NAMESPACE='preview-images'

AUTH0_SECRET = 'b4c5107c3e4fc67e8d2323118a8e36bbc52a515ffc0a2afb5429126a4aed0ccc'
AUTH0_BASE_URL= 'https://oportobiomedicalsummit.pedro.gq'
AUTH0_ISSUER_BASE_URL = 'https://dev-fkikudot0dr3gi80.us.auth0.com'
AUTH0_CLIENT_ID = 'ihI6AGwaUwCx8ms6751Ezkk8REODAdNS'
AUTH0_CLIENT_SECRET = 'Aj8I1ZulN5HyYyG-QHvSQ3mle61rR1Lq4KyGvw8yuvl9zMma2mYIHQ5F9rXb6S0T'

