/**
 * This file contains site-specifc style overrides for Notion elements from
 * react-notion-x.
 *
 * react-notion-x's goal is to match styling as close as possible to Notion,
 * whereas our goal with this site is to adjust Notion's styling in a few key
 * places to add some flare.
 */
 @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Alata&family=Text+Me+One&display=swap');

 @font-face {
  font-family: 'ArialNova';
  src: url('../public/fonts/arial-nova-cond-light.ttf');
  font-weight: 400;
  font-style: normal;
  }

.notion {
  --notion-max-width: 1800px;
  --notion-header-height: 67px;
}
.notion-page-cover-wrapper img{
  object-fit: contain;
}
.notion-page {
  --notion-max-width: 1200px;
  padding-bottom: calc(max(5vh, 32px)) !important;
  line-height: 1.65;
  margin-top: 0!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
  /* min-height: 90vh; */
}
.index-page .notion-title {
  display: none !important;
}
.notion-title {
  display: none !important;
}
.notion-text {
  padding: 0.5em 2px;
}
 
.notion-asset-caption {
  text-align: center;
}
 
.notion-asset-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
}
 
.notion-asset-wrapper-video > div,
.notion-asset-wrapper-video video {
  width: 100% !important;
}
 
.notion-header .notion-nav-header {
  width: 100%;
  /*max-width: 1100px;*/
  margin: 0 auto;
  /*background-color: red;*/
}

.notion-collection-header {
  display: none;
}

.notion-link b{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem; 
  padding-left: 1.25rem;
  padding-right: 1.25rem; 
  margin-right: 0.5rem; 
  margin-bottom: 0.5rem; 
  background-color: var(--middle-color);
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-weight: 500; 
  border-radius: 0.5rem; 
}

.notion-link{
  border-bottom: 0 ;
}
.notion-page-icon-inline {
  display: none;
}

.notion-block-618cdf918e8a4cdfbd3e1f2d7f2d882d{/*control panel*/
  display: none;
}

.notion-h-title{
  font-weight: bolder;
}
.notion > * {
  padding: unset;
}

.notion-collection-page-properties {
  display: none !important;
}

.notion-hash-link{
  display:none;
}

.notion-collection-view-type-icon{
  display: none;
}
/* .notion-collection-view-tabs-row{
  margin-left: 30vw;
} */
.notion-gallery-grid-size-small{
  
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}





.index-page .notion-collection-view-tabs-row{
  /* margin-left: 30vw; */
  width: 100%
}

/*second column for centering text when full width*/
.index-page .notion-column{
  justify-content: center;
}

.notion-table-header {
  z-index: 1;
}
.notion-table {
  max-width: 100vw !important;
  /* padding-left: 20px !important; */
}
.notion-collection-group-title{
  padding: 20px !important;
}
.notion-table-view{
  padding: 20px !important;
}


.notion-h1{
  font-size: 1.875em;
  margin-top: 1.08em;
  font-family: 'Alata', sans-serif;
  display: flex;
  align-self: center;
}

.notion-h2{
  font-size: 1.65em;
  font-family: 'Alata', sans-serif;
}

.notion-h3{
  font-size: 1.35em;
  margin-top: 1em;
  font-family: 'Text Me One', sans-serif;
}

.notion-text{
  font-size: 1.1em;
  text-align: justify;
  font-family: 'ArialNova', sans-serif;
}

.notion-page-title-text{
  font-family: 'ArialNova', sans-serif;
}


/*Remove pointer events from cultural gallery items*/
.notion-block-f121b04476b04eafa06f76b090c35d13 > div > div > div > a{
  pointer-events: none;
  cursor: none;
}
/*Remove pointer events from cultural gallery items*/



/*Schedule change background color*/
.notion-block-813e5aaeb710488aaa3a621938e774ae .notion-collection-card-body{
  background-color: var(--fg-color);  
}
.notion-block-813e5aaeb710488aaa3a621938e774ae .notion-collection-card-body:hover{
  opacity: 0.8;
}
.notion-block-813e5aaeb710488aaa3a621938e774ae .notion-page-link{
  color: white;
}
.notion-block-813e5aaeb710488aaa3a621938e774ae .notion-property-text {
  color:white;
}

/**BLock schedule routing*/
.notion-block-813e5aaeb710488aaa3a621938e774ae .notion-property-multi_select:empty {
  display: none;
}

.notion-block-813e5aaeb710488aaa3a621938e774ae .notion-property-multi_select:not(:empty){
  display: none;
}

.notion-block-813e5aaeb710488aaa3a621938e774ae .notion-collection-card:has(.notion-property-multi_select:not(:empty)){
  pointer-events: none;
}

/* .notion-block-813e5aaeb710488aaa3a621938e774ae .notion-property-multi_select:not(:empty) {
  display: none;
  pointer-events: none;
} */
/**BLock schedule routing*/

/*Schedule change background color*/

/*Center gallery view text*/
.notion-page-link{
  display: flex;
  align-items: center;
  justify-content: center;
}

.notion-property-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Center gallery view text*/


/**Box for  Roundtable items and Workshops**/
.notion-block-c359ca8256d84439818caca5d70483c6 ~ details{
  width: 60vw;
  min-width: 290px;
  height: fit-content;
  align-self: center;
}
.notion-block-c359ca8256d84439818caca5d70483c6 ~ details:last-child{
  margin-bottom: 5%;
}

.notion-block-c359ca8256d84439818caca5d70483c6 ~ details > summary{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fg-color);
  color:white;
  /* box-shadow: 0px 3px 6px rgba(0,0,0,0.16); */
  border-radius: 20px;
  margin-bottom: 2%;
  padding: 4px 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.notion-block-c359ca8256d84439818caca5d70483c6 ~ details > summary:hover{
  opacity: 0.8;
  cursor: pointer;
}
.notion-block-c359ca8256d84439818caca5d70483c6 ~ details > summary > h4{
  padding: 0%;
  margin-top: 0%;
  word-break:break-all;
}

.notion-block-c359ca8256d84439818caca5d70483c6 ~ details > div{
  width: 60vw !important;
  min-width: 290px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  /* border-top-left-radius: 0px; */
  margin-left: 0;
  padding: 2px 10px;
}

.notion-block-c359ca8256d84439818caca5d70483c6 ~ details > summary > h3{
  margin-top: 0% !important;
}


/**Remove table of contents**/
.notion-aside-table-of-contents{
  display: none;
}
/**Remove table of contents**/


/**Coralia vicente award link regulamentos**/

.notion-block-2da4e71df0b74146878c63da15111b43,.notion-block-88c728e9c76f4cf8b0d92b09081d8100{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  border-radius: 4px;
  padding: 2px 2px;
}

.notion-block-2da4e71df0b74146878c63da15111b43:hover,.notion-block-88c728e9c76f4cf8b0d92b09081d8100:hover{
  opacity: 0.8;
  cursor: pointer;
}
/**Coralia vicente award link regulamentos**/


/***Observatory page margin bottom*/
.notion-block-7a72ce3a683043b7933e1debcac4941f{
  margin-bottom: 5%;
}
/***Observatory page margin bottom*/


/**Sponsors page*/
.notion-block-8059a7b092164dbf8b41dc87cd134466 > details > summary{
  list-style: none;
  padding: 0% 0% !important;
  display: flex;
  justify-content: center;
  transform: translateX(5%);
  margin-bottom: 2%;
}
.notion-block-8059a7b092164dbf8b41dc87cd134466 > details > summary > div > span > div{
  width: 50vw;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  border-radius: 4px;
  padding: 10px 10px !important;
  font-size: 2em;
  font-weight: 700;
}
/**Sponsors page*/

/*Hide other stuff btn*/
.notion-block-60bef9bc1a954cc88fe1b305c5a74c65{
  pointer-events: none;
  color: var(--bg-color);
}


/**remove margin for top images */
.notion-page-content-inner > .notion-asset-wrapper-image{
  margin-top: 0%;
}


@media only screen and (max-width: 767px) {
  .notion-page-content-inner > .notion-asset-wrapper-image > div > img{
    margin-top: 0%;
    content: url("../public/mobileHero.webp");
    /* display: none; */
  } 
}



/**remove margin for top images */


