/**
 * This file contains site-specifc style overrides for Notion elements from
 * react-notion-x.
 *
 * react-notion-x's goal is to match styling as close as possible to Notion,
 * whereas our goal with this site is to adjust Notion's styling in a few key
 * places to add some flare.
 */
 
.notion {
  --notion-max-width: 1200px;
  --notion-header-height: 75px;
}
.notion-page-cover-wrapper img{
  object-fit: contain;
}
 
.notion-page {
  --notion-max-width: 1200px;
  padding-bottom: calc(max(5vh, 32px)) !important;
  line-height: 1.65;
  margin-top: 0!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
  /* min-height: 90vh; */
}
 
.index-page .notion-title {
  display: none !important;
}
.notion-title {
  display: none !important;
}
.notion-text {
  padding: 0.5em 2px;
}
 
.notion-asset-caption {
  text-align: center;
}
 
.notion-asset-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
}
 
.notion-asset-wrapper-video > div,
.notion-asset-wrapper-video video {
  width: 100% !important;
}
 
.notion-header .notion-nav-header {
  width: 100%;
  /*max-width: 1100px;*/
  margin: 0 auto;
  /*background-color: red;*/
}

.notion-collection-header {
  display: none;
}

.notion-link b{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem; 
  padding-left: 1.25rem;
  padding-right: 1.25rem; 
  margin-right: 0.5rem; 
  margin-bottom: 0.5rem; 
  background-color: var(--middle-color);
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-weight: 500; 
  border-radius: 0.5rem; 
}

.notion-link{
  border-bottom: 0 ;
}
.notion-page-icon-inline {
  display: none;
}

.notion-block-618cdf918e8a4cdfbd3e1f2d7f2d882d{/*control panel*/
  display: none;
}

.notion-h-title{
  font-weight: bolder;
}
.notion > * {
  padding: unset;
}

.notion-collection-page-properties {
  display: none !important;
}

.notion-hash-link{
  display:none;
}